{% extends "layout.html" %}

{% block content %}
<div class="text-white">

    <h1>Login Form</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url "register" %}">Register here</a></p>
</div>
{% endblock %}